@model IEnumerable<VitalFew.EPSSuper.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>

<div class="jumbotron">
    <h1>Manage Users</h1>
    <p class="lead">Add remove users from your network.</p>
    <p>
        <a href="@Url.Action("Create","ManageUsers")"><button type="button" class="btn btn-primary">Create New User</button></a>
    </p>
</div>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

<div class="container">

    @Html.Partial("_Alerts");

    <div style="width:80%">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>User Type</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Email</td>
                        <td>@item.UserType.Description</td>
                        <td>@(item.Active ? "Yes" : "No")</td>
                        <td style="text-align:center">
                            <a href="@Url.Action("Edit","ManageUsers", new { id = @item.UserID })">Edit</a>
                             | 
                            @if (@item.Active)
                            {
                                <a href="@Url.Action("Status", "ManageUsers", new { id = @item.UserID })">Deactivate</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Status", "ManageUsers", new { id = @item.UserID })">Activate</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>