@model VitalFew.EPSSuper.Models.ApplicationUser

@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2><b>Activate/Deactivate User</b></h2>
    <p class="lead">Remove users in the application.</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Alerts");

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email", @readonly = "readonly" } })
    </div>

    if (Model.Active)
    {
        <button type="submit" class="btn btn-primary">Deactivate</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Active</button>
    }

    @Html.HiddenFor(model => model.Active)
    @Html.HiddenFor(model => model.UserID)
}

@*<div>
        @Html.ActionLink("Back", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
